
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,800|Oleo+Script:400,700');

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #222; }

h1 {
	font-family: 'Oleo Script', cursive;
}

/*
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries*/




body {
  margin: 0;
}

article,
aside,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}


progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

a:active,
a:hover {
  outline: 0;
}


.hidden {
	display: none;
}

.active main {
	display: block;
}

.inactive main {
	display: none;
}



/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
