/* OVERALL RESET */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,800|Oleo+Script:400,700");
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #ececec;
  color: #212121;
  margin: 0; }

article,
aside,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/*       COLORS       */
/*  SECTION COLORS   */
/*        TYPOGRAPHY        */
/*       GRID        */
.row {
  border: 1.5px solid green; }

[class*="col-"] {
  float: left;
  border: 1px solid red;
  width: 100%;
  vertical-align: middle; }

.row:after,
.col:after {
  content: "";
  clear: both;
  display: table; }

@media (min-width: 550px) {
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; }
  .offsetBy-1 {
    margin-left: 8.33%; }
  .offsetBy-2 {
    margin-left: 16.66%; }
  .offsetBy-3 {
    margin-left: 25%; }
  .offsetBy-4 {
    margin-left: 33.33%; }
  .offsetBy-5 {
    margin-left: 41.66%; }
  .offsetBy-6 {
    margin-left: 50%; }
  .offsetBy-7 {
    margin-left: 58.33%; }
  .offsetBy-8 {
    margin-left: 66.66%; }
  .offsetBy-9 {
    margin-left: 75%; }
  .offsetBy-10 {
    margin-left: 83.33%; }
  .offsetBy-11 {
    margin-left: 91.66%; }
  .offsetBy-12 {
    margin-left: 100%; }
  .offsetBy-halfColumn {
    margin-left: 4.165%; } }

/*         ICONS          */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

/*        CENTER ELEMENTS AND TEXT        */
.cEl {
  margin: auto; }

.cTxt {
  text-align: center; }

/*      DEFAULT STATES         */
.hidden {
  display: none; }

.shown {
  display: block; }

.active main {
  display: block; }

.inactive main {
  display: none; }

/*
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
