


/* OVERALL RESET */

* {
  box-sizing: border-box;
  // border: 1px solid red;
}

html {
  height: 100%;
  font-size: 62.5%; 
}
body {
  height: 100%;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #ececec;
  color: #212121;
  margin: 0;
}

article,
aside,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*       COLORS       */

$white: #fff;
$black: #000;

/*  SECTION COLORS   */

$headerOrangeBG: #F89406;
$headerRedBG: #E74C3C;
$headerBlueBG: #446CB3;
$headerVibRedBG: #F62459;
$headerGreenBG: #1E824C;
$headerPurpleBG: #663399;
$headerYellowFT: #FDE3A7;

$aboutMeColor: $headerRedBG;
$projectsColor: $headerBlueBG;
$skillsColor: $headerGreenBG; 
$contactColor: $headerPurpleBG;

/*        TYPOGRAPHY        */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,800|Oleo+Script:400,700');

/*       GRID        */


.row {
  // border: 1.5px solid green;
}

[class*="col-"] {
    float: left;
    // border: 1px solid red;
    width: 100%;
    vertical-align: middle;
}

.row:after,
.col:after {
    content: "";
    clear: both;
    display: table;
}

  .col-1 {width: 8.33%;}
  .col-15 {width: 12.495%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .offsetBy-1 {margin-left: 8.33%;}
  .offsetBy-15 {margin-left: 12.495%;}
  .offsetBy-2 {margin-left: 16.66%;}
  .offsetBy-25 {margin-left: 20.825%;}
  .offsetBy-3 {margin-left: 25%;}
  .offsetBy-4 {margin-left: 33.33%;}
  .offsetBy-5 {margin-left: 41.66%;}
  .offsetBy-6 {margin-left: 50%;}
  .offsetBy-7 {margin-left: 58.33%;}
  .offsetBy-8 {margin-left: 66.66%;}
  .offsetBy-9 {margin-left: 75%;}
  .offsetBy-10 {margin-left: 83.33%;}
  .offsetBy-11 {margin-left: 91.66%;}
  .offsetBy-12 {margin-left: 100%;}

  .offsetBy-halfColumn {margin-left: 4.165%;}

/*      DEFAULT STATES         */

.hidden {
  display: none;
}

.shown {
  display: block;
}

.active main {
  display: block;
}

.inactive main {
  display: none;
}

.topBorder {
  border-top: 1px solid #ccc;
} 

.bottomBorder {
  border-bottom: 1px solid #ccc;
}

/* STYLES START HERE */


.jh {

}
















.jh {

  &-main-header {
    overflow: hidden;
    position: fixed;
    color: white;
    background-color: $headerOrangeBG;
    z-index: 5;
    & > * {
      margin: 12px auto;
      text-align: center;
    }
    &__title {
      font-family: 'Oleo Script', cursive;
      font-size: 5rem;
      width: 70%;
    }
    &__icon {
      margin-top: 28px;
      width: 15%;
      // important is overriding the material icon fonts
      font-size: 5rem!important;
      &:hover {
        cursor: pointer;
      } 
    }
  }

  // MAIN NAVIGATION

  &-main-navigation {   
    box-shadow: 0 14px 28px rgba(0,0,0,0.06), 0 10px 10px rgba(0,0,0,0.04);
    position: fixed;
    z-index: 5;
    &__item {
      font-family: 'Oleo Script', cursive;
      font-size: 3.4rem;
      color: white;
      border-top: 1px solid white;
      h1 {
        margin: 1.2rem;
        text-align: center;
      }
      &--about-me {
        background-color: $headerRedBG;
      }
      &--projects {
        background-color: $headerBlueBG;
      }
      &--skills {
        background-color: $headerGreenBG; 
      }
      &--contact {
        background-color: $headerPurpleBG;
      }
    }
  }

  &-page-section {
    // universal page section settings
    // &--about-me { display: none; }



    margin-bottom: 30px;
    &__top-header {
      box-shadow: 0 14px 28px rgba(0,0,0,0.06), 0 10px 10px rgba(0,0,0,0.04);
      border-top: 2px solid white;
      border-bottom: 2px solid white;
     
      &--about-me {
        background-color: $aboutMeColor;
        background: linear-gradient(to left, $aboutMeColor 40%, transparent), url("https://github.com/jhayslett/mdPortfolio/blob/master/images/aboutMeBg.JPG") no-repeat left, #222;
        background-size: cover;
      }
      &--projects {
        background-color: $projectsColor;
      }
      &--skills {
        background-color: $skillsColor; 
      }
      &--contact {
        background-color: $contactColor;
      }

    }
    // top title font settings
    &__top-title {
      color: white;
      text-align: right;
      font-family: 'Oleo Script', cursive;
      font-size: 3.4rem;
      margin: 0!important;
      padding: 25px 0;
      letter-spacing: 1.2px;
    }
  }

  &-about-me {
    padding: 20px;
    &__header {
    
    }
    &__title {
      font-size: 3.5rem;
      text-align: right;
      line-height: 3rem;
      margin-top: 2.5rem;
      margin-bottom: 1.7rem;
    }
    &__description {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      line-height: 2rem; 
    }
    &__description-paragraph {
     
    }
    &__quote {
      
    }
    &__quote-saying {
      font-weight: 800;
      margin-bottom: 0;
    }
    &__quote-person {
      text-align: right;
      margin-top: 0;
    }
  }


  &-projects {
    margin-top: 25px;
  }

  &-project {
    padding-bottom: 15px;
    border: 1px solid transparent;
    &__header {
      background-color: $headerVibRedBG;
      color: white;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0;
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }
    &__header-title {
      margin: 0;
    }
    &__information {
      margin-top: 20px;
    }
    &__gallery {
     background-color: $white; 
     padding: 20px;
     border: 2px solid $headerVibRedBG;
     border-bottom: 0;
    }
    &__thumbnail {
      border-bottom: 2px solid black;
       &--active {

      }
      &--inactive {
        display: none;
      }
    }
    &__gallery-button {
      padding: 2px 0;
      font-size: 1.3rem;
      border: 2px solid $headerVibRedBG;
      &--active {
        background-color: $white;
        color: $headerVibRedBG;
      }
      &--inactive {
        background-color: $headerVibRedBG;
        color: $white;
        &:hover {
          background-color: $white;
          color: $headerVibRedBG;
          cursor: pointer;
        }
      }
    }
    &__detail {
    
    }
    &__description {
      &--active {
        
      }
      &--inactive {
        display: none;
      }
    }
    &__details-button {
      background-color: transparent;
      border: 0;
      font-weight: 800;
      font-size: 1.7rem;
    }
    &--active {
      .jh-project__header {
        color: $headerYellowFT;
      }
    }
    &--inactive {
      padding-bottom: 0;
      .jh-project__information {
        display: none;
      }
    }
  }

  &-skills {

  }

  &-skill {
    margin-bottom: 50px;
    &__header {

    }
    &__title {
      text-align: center;
      font-size: 1.7rem;
      margin-top: 30px;
    }
    &__main {
      height: 250px;
      border-bottom: 2px solid black;
    }
    &__rating-labels {
      height: 100%;
    }
    &__rating-label {
      text-align: center;
      padding-top: 15px;
      height: 25%;
    }
    &__score-chart {
      height: 100%;
      &--purple {
        .jh-skill__chart-level:nth-child(1) {
          &::after {
            background-color: #8E44AD;
          }
        }
        .jh-skill__chart-level:nth-child(2) {
          &::after {
            background-color: #913D88;
          }
        }
        .jh-skill__chart-level:nth-child(3) {
          &::after {
            background-color: #663399;
          }
        }
        .jh-skill__chart-level:nth-child(4) {
          &::after {
            background-color: #674172;
          }
        }
      }
      &--green {
        .jh-skill__chart-level:nth-child(1) {
          &::after {
            background-color: #339D72;
          }
        }
        .jh-skill__chart-level:nth-child(2) {
          &::after {
            background-color: #339685;
          }
        }
        .jh-skill__chart-level:nth-child(3) {
          &::after {
            background-color: #489B7C;
          }
        }
        .jh-skill__chart-level:nth-child(4) {
          &::after {
            background-color: #469F8F;
          }
        }
      }
      &--blue {
        .jh-skill__chart-level:nth-child(1) {
          &::after {
            background-color: #337DB9;
          }
        }
        .jh-skill__chart-level:nth-child(2) {
          &::after {
            background-color: #487BC3;
          }
        }
        .jh-skill__chart-level:nth-child(3) {
          &::after {
            background-color: #3376CC;
          }
        }
        .jh-skill__chart-level:nth-child(4) {
          &::after {
            background-color: #467FD6;
          }
        }
      }
    }
    &__chart {
      position: relative;
    }
    &__chart-level {
      // position: relative;
      text-align: center;
      height: 100%;
      &::after {
        content: "";
        display: block;
        background-color: green;
      }
      &::before {
        content: "";
        display: block;
        background-color: transparent;
      }
      &--levelOne {
        &::after {
          height: 15%;
        }
        &::before {
          height: 85%;
        }
      }
      &--levelTwo {
        &::after {
          height: 35%;
        }
        &::before {
          height: 65%;
        }    
      }
      &--levelThree {
        &::after {
          height: 65%;
        }
        &::before {
          height: 35%;
        }
      }
      &--levelFour {
        &::after {
          height: 85%;
        }
        &::before {
          height: 15%;
        }
      }
    }
    &__score-categories {
    
    }
    &__category-label {
      position: relative;
      left: 20px;
    }
    &__category-title {
      font-size: 1.2rem;
      transform: rotate(55deg);
      font-weight: 800;
      white-space: nowrap;
      text-align: left;
      transform-origin: left;

    }
  }

  &-business-card {
    display: block;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    &--front-showing {
      .jh-business-card--front {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        
      }
      .jh-business-card--back {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
      }
      &:hover {
        .jh-business-card--back {
          -webkit-transform: rotateX(-198deg);
          transform: rotateX(-198deg);
        }
      }
    }
    &--back-showing {
      .jh-business-card--front {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
      }
      .jh-business-card--back {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      &:hover {
        .jh-business-card--front {
          -webkit-transform: rotateX(-198deg);
          transform: rotateX(-198deg);
        }
      }
    }
    & > * {
      padding: 3rem 3rem 0 3rem;
      border-radius: 6px;
      -webkit-transition: all 600ms;
      transition: all 600ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
      &:hover {
        -webkit-transform: rotateX(18deg);
        transform: rotateX(18deg);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .15);  
      }
    }
    &:hover {
      cursor: pointer;
    }
    &--front {
      width: 100%;
      position: absolute;
      background: url("../images/dunder1.jpg") no-repeat center center; 
      background-size: cover;
      
    }
    &--back {
      background-image: url("https://github.com/jhayslett/sg-tools/blob/master/bg2.png?raw=true"); 
        background-size: cover;
      display: block;
      position: absolute;
      color: white;
    }
  }


  &-card-front {
    &__name {
      font-size: 2rem;
      color: lighten($headerPurpleBG, 27);
      font-weight: 200;
      padding: 5px 10px;
      position: absolute;
      bottom: 20px;
      background-color: rgba(0,0,0,.9);
      border-radius: 10px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &-card-back {

    &__name {
      font-size: 4rem;
      font-weight: 200;
      margin: 0;
      line-height: 3.5rem;
    }
    &__work-title {
      color: #787878;
      font-size: 1.7rem;
      margin: 0;
    }
    &__description {
      font-size: 1.7rem;
      line-height: 2rem;
    }
    &__main-contact {
      font-size: 1.5rem;
    }
    &__email,
    &__website,
    &__study {
      color: #9858E2;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
    &__website {
      margin-left: 10px;
    }
    &__social-media {
      margin: 20px 0;
      & > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__footer-name {
      margin: 0;
    }
    &__icon:first-child {
      padding-right: 1rem;
    }
    &__icon:nth-child(n+2) {
      float: right;
      padding-left: 20px;
    }
  }

  &-main-footer {
    text-align: center;
    padding-bottom: 20px;
    color: $headerOrangeBG;
    &__text {
      text-align: center;
      font-weight: 800;
      font-size: 1.7rem;
    }
    &__icon {
      vertical-align: middle;
      font-size: 2rem!important;
      padding-right: 5px;
    }
  }
}

/* STYLES END HERE */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  
}

/* Larger than tablet */
@media (min-width: 750px) {
  
}

/* Larger than desktop */
@media (min-width: 1000px) {
  
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  
}