/* OVERALL RESET */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,800|Oleo+Script:400,700");
* {
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #ececec;
  color: #212121;
  margin: 0; }

article,
aside,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/*       COLORS       */
/*  SECTION COLORS   */
/*        TYPOGRAPHY        */
/*       GRID        */
[class*="col-"] {
  float: left;
  width: 100%;
  vertical-align: middle; }

.row:after,
.col:after {
  content: "";
  clear: both;
  display: table; }

.col-1 {
  width: 8.33%; }

.col-15 {
  width: 12.495%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.offsetBy-1 {
  margin-left: 8.33%; }

.offsetBy-15 {
  margin-left: 12.495%; }

.offsetBy-2 {
  margin-left: 16.66%; }

.offsetBy-25 {
  margin-left: 20.825%; }

.offsetBy-3 {
  margin-left: 25%; }

.offsetBy-4 {
  margin-left: 33.33%; }

.offsetBy-5 {
  margin-left: 41.66%; }

.offsetBy-6 {
  margin-left: 50%; }

.offsetBy-7 {
  margin-left: 58.33%; }

.offsetBy-8 {
  margin-left: 66.66%; }

.offsetBy-9 {
  margin-left: 75%; }

.offsetBy-10 {
  margin-left: 83.33%; }

.offsetBy-11 {
  margin-left: 91.66%; }

.offsetBy-12 {
  margin-left: 100%; }

.offsetBy-halfColumn {
  margin-left: 4.165%; }

/*      DEFAULT STATES         */
.hidden {
  display: none; }

.shown {
  display: block; }

.active main {
  display: block; }

.inactive main {
  display: none; }

.topBorder {
  border-top: 1px solid #ccc; }

.bottomBorder {
  border-bottom: 1px solid #ccc; }

/* STYLES START HERE */
.jh-main-header {
  overflow: hidden;
  position: fixed;
  color: white;
  background-color: #F89406;
  z-index: 5; }
  .jh-main-header > * {
    margin: 12px auto;
    text-align: center; }
  .jh-main-header__title {
    font-family: 'Oleo Script', cursive;
    font-size: 5rem;
    width: 70%; }
  .jh-main-header__icon {
    margin-top: 28px;
    width: 15%;
    font-size: 5rem !important; }
    .jh-main-header__icon:hover {
      cursor: pointer; }

.jh-main-navigation {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.06), 0 10px 10px rgba(0, 0, 0, 0.04);
  position: fixed;
  z-index: 5; }
  .jh-main-navigation__item {
    font-family: 'Oleo Script', cursive;
    font-size: 3.4rem;
    color: white;
    border-top: 1px solid white; }
    .jh-main-navigation__item h1 {
      margin: 1.2rem;
      text-align: center; }
    .jh-main-navigation__item--about-me {
      background-color: #E74C3C; }
    .jh-main-navigation__item--projects {
      background-color: #446CB3; }
    .jh-main-navigation__item--skills {
      background-color: #1E824C; }
    .jh-main-navigation__item--contact {
      background-color: #663399; }

.jh-page-section {
  margin-bottom: 30px; }
  .jh-page-section__top-header {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.06), 0 10px 10px rgba(0, 0, 0, 0.04);
    border-top: 2px solid white;
    border-bottom: 2px solid white; }
    .jh-page-section__top-header--about-me {
      background-color: #E74C3C;
      background: linear-gradient(to left, #E74C3C 40%, transparent), url("https://github.com/jhayslett/mdPortfolio/blob/master/images/aboutMeBg.JPG") no-repeat left, #222;
      background-size: cover; }
    .jh-page-section__top-header--projects {
      background-color: #446CB3; }
    .jh-page-section__top-header--skills {
      background-color: #1E824C; }
    .jh-page-section__top-header--contact {
      background-color: #663399; }
  .jh-page-section__top-title {
    color: white;
    text-align: right;
    font-family: 'Oleo Script', cursive;
    font-size: 3.4rem;
    margin: 0 !important;
    padding: 25px 0;
    letter-spacing: 1.2px; }

.jh-about-me {
  padding: 20px; }
  .jh-about-me__title {
    font-size: 3.5rem;
    text-align: right;
    line-height: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.7rem; }
  .jh-about-me__description {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 2rem; }
  .jh-about-me__quote-saying {
    font-weight: 800;
    margin-bottom: 0; }
  .jh-about-me__quote-person {
    text-align: right;
    margin-top: 0; }

.jh-projects {
  margin-top: 25px; }

.jh-project {
  padding-bottom: 15px;
  border: 1px solid transparent; }
  .jh-project__header {
    background-color: #F62459;
    color: white;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 10px 0;
    margin: 0; }
    .jh-project__header:hover {
      cursor: pointer; }
  .jh-project__header-title {
    margin: 0; }
  .jh-project__information {
    margin-top: 20px; }
  .jh-project__gallery {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #F62459;
    border-bottom: 0; }
  .jh-project__thumbnail {
    border-bottom: 2px solid black; }
    .jh-project__thumbnail--inactive {
      display: none; }
  .jh-project__gallery-button {
    padding: 2px 0;
    font-size: 1.3rem;
    border: 2px solid #F62459; }
    .jh-project__gallery-button--active {
      background-color: #fff;
      color: #F62459; }
    .jh-project__gallery-button--inactive {
      background-color: #F62459;
      color: #fff; }
      .jh-project__gallery-button--inactive:hover {
        background-color: #fff;
        color: #F62459;
        cursor: pointer; }
  .jh-project__description--inactive {
    display: none; }
  .jh-project__details-button {
    background-color: transparent;
    border: 0;
    font-weight: 800;
    font-size: 1.7rem; }
  .jh-project--active .jh-project__header {
    color: #FDE3A7; }
  .jh-project--inactive {
    padding-bottom: 0; }
    .jh-project--inactive .jh-project__information {
      display: none; }

.jh-skill {
  margin-bottom: 50px; }
  .jh-skill__title {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 30px; }
  .jh-skill__main {
    height: 250px;
    border-bottom: 2px solid black; }
  .jh-skill__rating-labels {
    height: 100%; }
  .jh-skill__rating-label {
    text-align: center;
    padding-top: 15px;
    height: 25%; }
  .jh-skill__score-chart {
    height: 100%; }
    .jh-skill__score-chart--purple .jh-skill__chart-level:nth-child(1)::after {
      background-color: #8E44AD; }
    .jh-skill__score-chart--purple .jh-skill__chart-level:nth-child(2)::after {
      background-color: #913D88; }
    .jh-skill__score-chart--purple .jh-skill__chart-level:nth-child(3)::after {
      background-color: #663399; }
    .jh-skill__score-chart--purple .jh-skill__chart-level:nth-child(4)::after {
      background-color: #674172; }
    .jh-skill__score-chart--green .jh-skill__chart-level:nth-child(1)::after {
      background-color: #339D72; }
    .jh-skill__score-chart--green .jh-skill__chart-level:nth-child(2)::after {
      background-color: #339685; }
    .jh-skill__score-chart--green .jh-skill__chart-level:nth-child(3)::after {
      background-color: #489B7C; }
    .jh-skill__score-chart--green .jh-skill__chart-level:nth-child(4)::after {
      background-color: #469F8F; }
    .jh-skill__score-chart--blue .jh-skill__chart-level:nth-child(1)::after {
      background-color: #337DB9; }
    .jh-skill__score-chart--blue .jh-skill__chart-level:nth-child(2)::after {
      background-color: #487BC3; }
    .jh-skill__score-chart--blue .jh-skill__chart-level:nth-child(3)::after {
      background-color: #3376CC; }
    .jh-skill__score-chart--blue .jh-skill__chart-level:nth-child(4)::after {
      background-color: #467FD6; }
  .jh-skill__chart {
    position: relative; }
  .jh-skill__chart-level {
    text-align: center;
    height: 100%; }
    .jh-skill__chart-level::after {
      content: "";
      display: block;
      background-color: green; }
    .jh-skill__chart-level::before {
      content: "";
      display: block;
      background-color: transparent; }
    .jh-skill__chart-level--levelOne::after {
      height: 15%; }
    .jh-skill__chart-level--levelOne::before {
      height: 85%; }
    .jh-skill__chart-level--levelTwo::after {
      height: 35%; }
    .jh-skill__chart-level--levelTwo::before {
      height: 65%; }
    .jh-skill__chart-level--levelThree::after {
      height: 65%; }
    .jh-skill__chart-level--levelThree::before {
      height: 35%; }
    .jh-skill__chart-level--levelFour::after {
      height: 85%; }
    .jh-skill__chart-level--levelFour::before {
      height: 15%; }
  .jh-skill__category-label {
    position: relative;
    left: 20px; }
  .jh-skill__category-title {
    font-size: 1.2rem;
    transform: rotate(55deg);
    font-weight: 800;
    white-space: nowrap;
    text-align: left;
    transform-origin: left; }

.jh-business-card {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }
  .jh-business-card--front-showing .jh-business-card--front {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .jh-business-card--front-showing .jh-business-card--back {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg); }
  .jh-business-card--front-showing:hover .jh-business-card--back {
    -webkit-transform: rotateX(-198deg);
    transform: rotateX(-198deg); }
  .jh-business-card--back-showing .jh-business-card--front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg); }
  .jh-business-card--back-showing .jh-business-card--back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .jh-business-card--back-showing:hover .jh-business-card--front {
    -webkit-transform: rotateX(-198deg);
    transform: rotateX(-198deg); }
  .jh-business-card > * {
    padding: 3rem 3rem 0 3rem;
    border-radius: 6px;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden; }
    .jh-business-card > *:hover {
      -webkit-transform: rotateX(18deg);
      transform: rotateX(18deg);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
  .jh-business-card:hover {
    cursor: pointer; }
  .jh-business-card--front {
    width: 100%;
    position: absolute;
    background: url("../images/dunder1.jpg") no-repeat center center;
    background-size: cover; }
  .jh-business-card--back {
    background-image: url("https://github.com/jhayslett/sg-tools/blob/master/bg2.png?raw=true");
    background-size: cover;
    display: block;
    position: absolute;
    color: white; }

.jh-card-front__name {
  font-size: 2rem;
  color: #ab81d5;
  font-weight: 200;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center; }

.jh-card-back__name {
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
  line-height: 3.5rem; }

.jh-card-back__work-title {
  color: #787878;
  font-size: 1.7rem;
  margin: 0; }

.jh-card-back__description {
  font-size: 1.7rem;
  line-height: 2rem; }

.jh-card-back__main-contact {
  font-size: 1.5rem; }

.jh-card-back__email, .jh-card-back__website, .jh-card-back__study {
  color: #9858E2;
  text-decoration: none; }
  .jh-card-back__email:hover, .jh-card-back__website:hover, .jh-card-back__study:hover {
    color: white; }

.jh-card-back__website {
  margin-left: 10px; }

.jh-card-back__social-media {
  margin: 20px 0; }
  .jh-card-back__social-media > * {
    display: inline-block;
    vertical-align: middle; }

.jh-card-back__footer-name {
  margin: 0; }

.jh-card-back__icon:first-child {
  padding-right: 1rem; }

.jh-card-back__icon:nth-child(n+2) {
  float: right;
  padding-left: 20px; }

.jh-main-footer {
  text-align: center;
  padding-bottom: 20px;
  color: #F89406; }
  .jh-main-footer__text {
    text-align: center;
    font-weight: 800;
    font-size: 1.7rem; }
  .jh-main-footer__icon {
    vertical-align: middle;
    font-size: 2rem !important;
    padding-right: 5px; }

/* STYLES END HERE */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
