<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Credit / Debit Payment Form</title>
	<link rel="stylesheet" type="text/css" href="payment.css">
</head>
<body>
	<form class="payment" name="payment">
		<label>Full Name<input type="text" name="fullName"></label>
		<label>Card Number<input type="number" name="ccNumber" class="number"></label>
		<label>Security Code<input type="number" name="secCode" class="ss"></label>
		<label class="month">Exp. Month<select name="month">
			<option value=""></option>
			<option value="January">January</option>
			<option value="February">February</option>
			<option value="March">March</option>
			<option value="April">April</option>
			<option value="May">May</option>
			<option value="June">June</option>
			<option value="July">July</option>
			<option value="August">August</option>
			<option value="September">September</option>
			<option value="October">October</option>
			<option value="November">November</option>
			<option value="December">December</option>
		</select></label>
		<label class="year">Year<select name="year">
			<option value=""></option>
			<option value="2016">2016</option>
			<option value="2016">2017</option>
			<option value="2016">2018</option>
			<option value="2016">2019</option>
			<option value="2016">2020</option>
		</select></label>
		<input type="submit" name="submit">
	</form>
</body>
<script src="/utilities/validator.js"></script>
<script>
	var form = document.querySelector("form");
	var fullname = document.querySelector("input[name=fullName]");
	var card = document.querySelector("input[name=ccNumber]");
	var sec = document.querySelector("input[name=secCode]");
	var month = document.querySelector("select[name=month]");
	var year = document.querySelector("select[name=year]");
	form.addEventListener("submit",function(e){
	
	function toggleClass(what, tf) {
		if(tf) {
			what.classList.add("valid");
			what.classList.remove("invalid")
		} else { 
			what.classList.add("invalid");
			what.classList.remove("valid");
			e.preventDefault();
		}
	};

	validator.isOfLength(fullname.value, 2) ? toggleClass(fullname,true) : toggleClass(fullname,false);
	validator.isOfLength(sec.value, 3) ? toggleClass(sec,true) : toggleClass(sec,false);
	validator.isCreditCard(card.value) ? toggleClass(card,true) : toggleClass(card,false);
	validator.isEmpty(month.value) ? toggleClass(month,false) : toggleClass(month,true);
	validator.isEmpty(year.value) ? toggleClass(year,false) : toggleClass(year,true);

	});
</script>
</html>