<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Profile Card</title>
	<link rel="stylesheet" type="text/css" href="profile_card.css">
</head>
<body>
	<section class="profileCard">
		<header>
			<h1 class="cardTitle">Jacob Hayslett</h1>
			<p class="subtitle">Phoenix, USA</p>
		</header>
		<img class="cardMainImage" src="assets/mainProfilePicture.jpg">
		<div class="cardContent">
			<h3 class="contentHeader">Fun</h3>
			<p class="contentParagraph">Enjoying every moment, living life to it's fullest is what I live for. Enjoying the Dallas Cowboys and the NFL is one of my greatest pastimes with friends and family. Looking forward to many new projects and activites while I am with ModernDeveloper.</p>
			</div>
			<footer class="cf">
				<a class="backButton" href="#">Back to Full Profile</a>
			</footer>
	</section>
</body>
</html>