<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Color Picker</title>
	<link rel="stylesheet" type="text/css" href="color_picker.css">
</head>
<body>
<form class="colorPicker">
	<h1>Color Picker</h1>
	<label>Red</label><input type="range" value="130" min="5" max="255" step="5" id="red"><label class="number">255</label>
	<label>Green</label><input type="range" value="130" min="5" max="255" step="5" id="green"><label class="number">255</label>
	<label>Blue</label><input type="range" value="130" min="5" max="255" step="5" id="blue"><label class="number">255</label>
</form>
</body>
</html>

