<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
</head>
<body>
	<form class="calculator">
		<!-- <label>Calculator</label> -->
		<button type="button" class="clear">C</button>
		<button type="button" class="clear">Del</button>
    	<input type="text" name="display" maxlength="10" placeholder="123" readonly>
		<button type="button" class="number">7</button>
		<button type="button" class="number">8</button>
		<button type="button" class="number">9</button>
		<button type="button" class="symbol">+</button>
		<button type="button" class="number">4</button>
		<button type="button" class="number">5</button>
		<button type="button" class="number">6</button>
		<button type="button" class="symbol">-</button>
		<button type="button" class="number">1</button>
		<button type="button" class="number">2</button>
		<button type="button" class="number">3</button>
		<button type="button" class="symbol">&#247;</button>
		<button type="button" class="number">0</button>
		<button type="button" class="number">.</button>
		<button type="button" class="equals">=</button>
		<button type="button" class="symbol">X</button>
	</form>
	<script type="text/javascript" src="calculator.js"></script>
</body>
</html>