<!DOCTYPE html>
<html lang="en">
<head>
	<link href="../reset.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="index.css">
	<meta charset="UTF-8">
	<title>Web Components</title>
</head>
<body>

<!-- nav>ul>li.mainNav*6^^header>article>section.heroImage+img.mainHero[src="http://placehold.it/700x250"]>h1.mainName{Jacob Hayslett}^^section.mainQuotation>h2.mainQuote -->

 <nav>
 	<ul class="mainList">
 		<a class="navLink" href="../index.html"><li class="mainNav">Home</li></a>
 		<a class="navLink" href="../buttons/buttons.html"><li class="mainNav">Buttons</li></a>
 		<a class="navLink" href="../profile_card/profile_card.html"><li class="mainNav">Profiles Sidebar</li></a>
 		<a class="navLink" href="../forms/"><li class="mainNav">Forms and Inputs</li></a>
 		<a class="navLink" href="../calculator/calculator.html"><li class="mainNav">Calculator</li></a>
 		<a class="navLink" href="../products/products.html"><li class="mainNav">Product Listing Page</li></a>
 	</ul>
 </nav>
 <section>
 <ul class="formList">
 	<a class="formLinks" href="color_picker/color_picker.html"><li>Color Picker</li></a>
 	<a class="formLinks" href="login/login.html"><li>Login Form</li></a>
 	<a class="formLinks" href="payment_form/payment.html"><li>Payment Form</li></a>
 	<a class="formLinks" href="questionnaire/questionnaire.html"><li>Questionnaire</li></a>
 	<a class="formLinks" href="scheduling/schedule.html"><li>Scheduling</li></a>
 	<a class="formLinks" href="search_form/search_form.html"><li>Search Form</li></a>
 	<a class="formLinks" href="shipping_and_billing/shipping_and_billing.html"><li>Shipping and Billing</li></a>
 	<a class="formLinks" href="signup_form/signup_form.html"><li>Signup Form</li></a>
 </ul>
 </section>
</body>
</html>